* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.container {
  min-height: 70vh;
  min-width: 50%;
  padding: 10%;
}
.white {
  height: 20vh;
  width: 100%;
  background-color: white;
}
.yellow {
  min-height: 50vh;
  width: 100%;
  background-color: #f0c50b;
  display: flex;
}
img {
  width: 70%;
  height: 90%;
  box-shadow: 1px 2px 3px rgb(188, 187, 198);
  transform: translateY(-100px);
}
.img,
.des {
  flex-grow: 1;
  flex: 1;
}
.des {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  row-gap: 5%;
}
button {
  border-radius: 5px;
  padding: 12px;
  transition: color;
  transition-duration: 0.3s;
}
button:hover {
  background-color: black;
  color: white;
  border: none;
}
.img {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 2rem;

}
p {
  font-size: 1rem;
}
@media (max-width: 1079px) {
  .yellow {
    display: flex;
    flex-direction: column;
  }
  img {
    height: 50%;
    width: 30%;
  }
  h1 {
    margin: auto;
    font-size: 2rem;
  }
  p {
    text-align: center;
  }
  .des {
    justify-content: center;
    align-items: center;
    row-gap: 5px;
  }
}
